@media screen and (max-width:600px) {
 

 .form-grid{
    grid-template-columns: 1fr;
 }
 
     .continer-main{
    margin: 20px auto;
    padding: 16px;
    }
    .continer-main label{
        font-size: 1.2rem;
    }
    .table{
        min-width: 0;
        font-size: 1.1rem;
    }
    .input{
        width: 100%;
        margin-left:0px;
    }
    .add{
        width: 80%;
        padding: 10px;
    }
   
}